body {
  background-color: #1d1d1d;
  margin: 0;
  height: 100vh;
}

.dashboard {
  background-color: #1d1d1d;
  color: #c7c7c7;
  font-family: 'Titillium Web', sans-serif;
}

.navbar {
  background: #1b1b1b;
}

.text-electricalblue .img {
  filter: grayscale(0%);
}

li[aria-selected='true'] {
  background-color: black;
  color: red !important;
}

// fix de la tabla
.ReactVirtualized__Table__rowColumn {
  display: table-cell !important;
}

.full-heigh-less-navbar {
  height: -webkit-calc(100vh - 112px);
  height: -moz-calc(100vh - 112px);
  height: calc(100vh - 112px);
}

.sidebar {
  background-color: #222222;
  height: -webkit-calc(100vh - 78px);
  height: -moz-calc(100vh - 78px);
  height: calc(100vh - 78px);
}
.login {
  height: -webkit-calc(100vh - 78px);
  height: -moz-calc(100vh - 78px);
  height: calc(100vh - 78px);
}
.background-gray1 {
  background-color: #323232;
}

// resulpanel style
.resultpanel {
  background-color: #323232;
}
.ReactTable .rt-thead .rt-th {
  background-color: #222222;
  color: #4aa9db;
}

.ReactTable .rt-tbody .rt-td {
  border: none !important;
  text-align: center;
}

.ReactTable .rt-tbody .rt-td:nth-child(2) {
  color: #4aa9db;
}

.ReactTable .-pagination .-btn[disabled] {
  opacity: 0.5;
  cursor: default;
  color: white;
  background-color: #222222;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  color: #222222;
}

.bg-red-700{
  background-color: #9b2c2c;
}
