.img {
  width: 25px;
  margin: auto;
  filter: grayscale(100%);
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-color: #50c1fb;
}

.margin {
  margin-right: 15px;
  margin-left: 15px;
}
